bonsai @ git+https://github.com/MrHedmad/bonsai.git
colorama
gene-ranker @ git+https://github.com/TCP-Lab/gene_ranker
metasplit @ git+https://github.com/MrHedmad/metasplit
numpy
pandas
panid @ git+https://github.com/MrHedmad/panid.git
pyarrow
pydeseq2
requests
scipy
statsmodels
tqdm
